<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMOMPATIBLE" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Home </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="../style/style.css">
</head>

<body> 
  <section id="header"> 
      <a href="#"><img src="../assets/logo.jpg" class="logo" alt="" style="width: 67px; height: 67px;"></a>
      <div>
        <ul id="navbar">
          <li> <a href="index.html"> Home </a> </li>
          <li> <a class= "active" href="shop.html"> Shop </a> </li>
          <li> <a href="blog.html"> Blog </a> </li>
          <li> <a href="about.html"> About </a> </li>
          <li> <a href="contact.html"> Contact </a> </li>
          <li> <a href="cart.html" id="lg-bag"> <i class="fas fa-shopping-bag"></i> </a> </li>
          <a href="#" id="close"> <i class="fa fa-times" aria-hidden="true"></i> </a>
        </ul>
      </div>

      <div id="mobile"> 
        <a href="cart.html"> <i class="fas fa-shopping-bag"></i> </a>
        <i id="bar" class="fas fa-outdent"></i>  
      </div>
  </section>

  <section id="page-header"> 
    <h2> #stay home </h2>
    <p> Save more with coupons & up to 70% off! </p>
  </section>

  <section id="product1" class="section-p1">
  <div class="pro-container">
    <div class="pro" onclick="window.location.href='sproduct.html'">
      <img src="../assets/products/f1.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f2.jpg" alt="">
      <div class="des">
        <span> adidias </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f3.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f4.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f5.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f6.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f7.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

    <div class="pro" id="pro1">
      <img src="../assets/products/f8.jpg" alt="">
      <div class="des">
        <span> adidas </span>
        <h5> Fit Shirt </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h4> $78 </h4>
      </div>
      <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
    </div>

      <div class="pro" id="pro1">
        <img src="../assets/products/n1.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n2.jpg" alt="">
        <div class="des">
          <span> adidias </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n3.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n4.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n5.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n6.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n7.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
  
      <div class="pro" id="pro1">
        <img src="../assets/products/n8.jpg" alt="">
        <div class="des">
          <span> adidas </span>
          <h5> Fit Shirt </h5>
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
          <h4> $78 </h4>
        </div>
        <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
      </div>
    </div>  
  </section>

  <section id="pagination" class="section-p1"> 
    <a href="#">1</a>
    <a href="#">2</a>
  <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  </section>

  <section id="newsletter" class="section-p1 section-m1">  
    <div class="newstext"> 
      <h4> Sign Up For Newsletters </h4>
      <p> Get E-mail updates about our latest shop and <span> speacial offer. </span> </p>
    </div>
    <div class="form"> 
      <input type="text" placeholder="Your email address">
      <button class="normal"> Sign Up </button>
  </section>

  <footer class="section-p1"> 
    <div class="col"> 
      <img class="logo" src="../assets/logo.jpg" alt="" style="width: 67px; height: 67px;">
      <h4> Contact </h4>
      <p> <strong> Address: </strong> ....  </p>
      <p> <strong> Phone: </strong> .... </p>
      <p> <strong> Hour: </strong> .... </p>
      <div class="follow"> 
        <h4> Follow us </h4>
        <div class="icon">  
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>
    
    <div class="col"> 
      <h4> About </h4>
      <a href=""> About Us</a>
      <a href=""> Delivery </a>
      <a href=""> Privacy Policy </a>
      <a href=""> Terms of Condition </a>
      <a href=""> Contact Us </a>
    </div>

    <div class="col"> 
      <h4> My Account </h4>
      <a href=""> Sign In</a>
      <a href=""> View Cart </a>
      <a href=""> My Wishlist </a>
      <a href=""> Track My Order </a>
      <a href=""> Help </a>
    </div>

    <div class="col install"> 
      <h4> Install App </h4>
      <p> From App Store or Google Play </p>
      <div class="row"> 
        <img src="../assets/pay/app.jpg" alt="">
        <img src="../assets/pay/play.jpg" alt="">
        <p> Secure Payment Gateways </p>
        <img src="../assets/pay/pay.png" alt="">
      </div>
    </div>

    <div class="copyright"> 
      <p> © 2023, Techy. All rights reserved. </p>
  </footer>

  <script src="../script.js"></script>
</body>

</html>